apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "pvc-autoresizer.fullname" . }}-controller-storageclasses
  labels:
    {{- include "pvc-autoresizer.labels" . | nindent 4 }}
rules:
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "pvc-autoresizer.fullname" . }}-controller
  labels:
    {{- include "pvc-autoresizer.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
  - patch
  - update
{{- if .Values.controller.args.useK8sMetricsApi }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - "nodes/proxy"
  verbs:
  - get
  - list
  - watch
{{- end }}
{{- if .Values.operatorAwareResizing.enabled }}
# Operator-aware resizing RBAC (auto-generated from values.yaml)
# Configure allowed CR types in values.operatorAwareResizing.resourceClasses
{{- range .Values.operatorAwareResizing.resourceClasses }}
- apiGroups:
  - {{ .apiGroup | quote }}
  resources:
  - {{ .resource | quote }}
  verbs:
  - get
  - list
  - patch
{{- end }}
{{- end }}
