image:
  # image.repository -- pvc-autoresizer image repository to use.
  repository: ghcr.io/appian/pvc-autoresizer

  # image.tag -- pvc-autoresizer image tag to use.
  # @default -- `{{ .Chart.AppVersion }}`
  tag:  # 0.18.5

  # image.pullPolicy -- pvc-autoresizer image pullPolicy.
  pullPolicy:  # Always

controller:
  # controller.replicas -- Specify the number of replicas of the controller Pod.
  replicas: 1

  args:
    # controller.args.useK8sMetricsApi -- Use Kubernetes metrics API instead of Prometheus.
    # Used as "--use-k8s-metrics-api" option
    useK8sMetricsApi: false

    # controller.args.prometheusURL -- Specify Prometheus URL to query volume stats.
    # Used as "--prometheus-url" option
    prometheusURL: http://prometheus-prometheus-oper-prometheus.prometheus.svc:9090

    # controller.args.namespaces -- Specify namespaces to control the pvcs of. Empty for all namespaces.
    # Used as "--namespaces" option
    namespaces: []

    # controller.args.interval -- Specify interval to monitor pvc capacity.
    # Used as "--interval" option
    interval: 10s

    # controller.args.annotationPatchingEnabled -- Automatically patch annotations of STS provisioned PVCs to match volumeClaimTemplates.
    # Used as "--annotation-patching-enabled" option
    annotationPatchingEnabled: false

    # controller.args.additionalArgs -- Specify additional args.
    additionalArgs: []

  # controller.resources -- Specify resources.
  resources:
    requests:
      cpu: 100m
      memory: 20Mi

  # controller.annotations -- Annotations to be added to controller deployment.
  annotations: {}

  # controller.podLabels -- Pod labels to be added to controller pods.
  podLabels: {}

  # controller.podAnnotations -- Annotations to be added to controller pods.
  podAnnotations: {}

  # controller.podSecurityContext -- Security Context to be applied to the controller pods.
  podSecurityContext: {}

  # controller.securityContext -- Security Context to be applied to the controller container within controller pods.
  securityContext: {}
    # allowPrivilegeEscalation: false
    # capabilities:
    #   drop:
    #     - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
    # seccompProfile:
    #   type: RuntimeDefault

  # controller.terminationGracePeriodSeconds -- Specify terminationGracePeriodSeconds.
  terminationGracePeriodSeconds:  # 10

  # controller.tolerations -- Ensure pods are not scheduled on inappropriate nodes.
  tolerations: {}

  # controller.nodeSelector -- Map of key-value pairs for scheduling pods on specific nodes.
  nodeSelector: {}

  # controller.affinity -- Affinity for controller deployment.
  affinity: {}
    # podAffinity:
    #   requiredDuringSchedulingIgnoredDuringExecution:
    #   - labelSelector:
    #       matchExpressions:
    #       - key: app.kubernetes.io/name
    #         operator: In
    #         values:
    #         - pvc-autoresizer
    #     topologyKey: topology.kubernetes.io/zone
    # podAntiAffinity:
    #   preferredDuringSchedulingIgnoredDuringExecution:
    #   - weight: 100
    #     podAffinityTerm:
    #       labelSelector:
    #         matchExpressions:
    #         - key: app.kubernetes.io/name
    #           operator: In
    #           values:
    #           - pvc-autoresizer
    #       topologyKey: topology.kubernetes.io/zone

  # controller.priorityClassName -- Priority class name to be applied to the controller pods.
  priorityClassName: ""
  # priorityClassName: system-cluster-critical

# -- deploy a PodMonitor. This is not tested in CI so make sure to test it yourself.
podMonitor:
  # podMonitor.enabled -- If true, creates a Prometheus Operator PodMonitor.
  enabled: false
  # podMonitor.scheme -- Scheme to use for scraping.
  scheme: http
  # podMonitor.interval -- Interval that Prometheus scrapes metrics.
  interval: ""
  # podMonitor.scrapeTimeout -- The timeout after which the scrape is ended
  scrapeTimeout: ""
  # podMonitor.namespace -- Namespace which Prometheus is running in.
  namespace: ""
  # podMonitor.relabelings -- RelabelConfigs to apply to samples before scraping.
  relabelings: []
  # - sourceLabels: [__meta_kubernetes_service_label_cluster]
  #   targetLabel: cluster
  #   regex: (.*)
  #   replacement: ${1}
  #   action: replace

  # podMonitor.metricRelabelings -- MetricRelabelConfigs to apply to samples before ingestion.
  metricRelabelings: []
  # - sourceLabels: [__meta_kubernetes_service_label_cluster]
  #   targetLabel: cluster
  #   regex: (.*)
  #   replacement: ${1}
  #   action: replace

  # podMonitor.additionalLabels -- Additional labels that can be used so PodMonitor will be discovered by Prometheus.
  additionalLabels: {}

webhook:
  certificate:
    # webhook.certificate.generate --  Creates a self-signed certificate for 10 years. Once the validity period has expired, simply delete the controller secret and execute helm upgrade.
    generate: false
    # webhook.certificate.dnsDomain --  Cluster DNS domain (required for requesting TLS certificates).
    dnsDomain: cluster.local
  # webhook.caBundle -- Specify the certificate to be used for AdmissionWebhook.
  caBundle:  # Base64-encoded, PEM-encoded CA certificate that signs the server certificate.
  # webhook.existingCertManagerIssuer -- Specify the cert-manager issuer to be used for AdmissionWebhook.
  existingCertManagerIssuer: {}
    # group: cert-manager.io
    # kind: Issuer
    # name: webhook-issuer
  pvcMutatingWebhook:
    # webhook.pvcMutatingWebhook.enabled -- Enable PVC MutatingWebhook.
    enabled: true

cert-manager:
  # cert-manager.enabled -- Install cert-manager together.
  ## ref: https://cert-manager.io/docs/installation/helm/#installing-with-helm
  enabled: false

serviceAccount:
  # serviceAccount.enabled -- Creates a ServiceAccount for the controller deployment.
  enabled: true
  # serviceAccount.automountServiceAccountToken -- Controls the automatic mounting of ServiceAccount API credentials.
  automountServiceAccountToken: true
