name: "e2e"
on:
  pull_request:
    paths-ignore:
        - "**/*.md"
        - "CODEOWNERS"
  push:
    paths-ignore:
        - "**/*.md"
        - "CODEOWNERS"
    branches:
      - "main"
jobs:
  e2e-k8s:
    name: "e2e-k8s"
    runs-on: "ubuntu-22.04"
    strategy:
      matrix:
        kubernetes_versions: ["1.34.3", "1.33.7", "1.32.11"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          # TODO: revert to go-version-file: go.mod once setup-go resolves the 1.24.0 selection issue.
          go-version: "1.24.x"
          check-latest: true
      - run: make -C test/e2e setup
      - run: make -C test/e2e init-app-with-cert-manager
      - run: make -C test/e2e test

  e2e-k8s-without-cert-manager:
    name: "e2e-k8s-without-cert-manager"
    runs-on: "ubuntu-22.04"
    strategy:
      matrix:
        kubernetes_versions: ["1.34.3", "1.33.7", "1.32.11"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          # TODO: revert to go-version-file: go.mod once setup-go resolves the 1.24.0 selection issue.
          go-version: "1.24.x"
          check-latest: true
      - run: make -C test/e2e setup
      - run: make -C test/e2e init-app-without-cert-manager
      - run: make -C test/e2e test

  e2e-k8s-with-metrics-api:
    name: "e2e-k8s-with-metrics-api"
    runs-on: "ubuntu-22.04"
    strategy:
      matrix:
        kubernetes_versions: ["1.34.3", "1.33.7", "1.32.11"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          # TODO: revert to go-version-file: go.mod once setup-go resolves the 1.24.0 selection issue.
          go-version: "1.24.x"
          check-latest: true
      - run: make -C test/e2e setup
      - run: make -C test/e2e init-app-with-metrics-api
      - run: make -C test/e2e test
