name: "Main"
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  build:
    name: "build"
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: make setup
      - run: make check-uncommitted
      - run: make
      - run: make test
      - run: env NO_ANNOTATION_CHECK=true make test
      - run: make image
