name: Main
on:
  pull_request:
  push:
    branches:
      - 'master'
jobs:
  build:
    name: build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.13
      - run: make
      - run: make test
